// 项目全局通用设置

@charset "UTF-8";

.mb-icon {
  width: .75rem;
  height: .75rem;
  fill: currentColor;
  vertical-align: middle;
  position: relative;
  top: .01rem;
}

.mb-icon-small {
  width: .15rem;
  height: .15rem;
}

.mb-icon-big {
  width: .4rem;
  height: .4rem;
}

.mb-icon-next {
  // position: absolute;
  right: .13rem;
  // top: .13rem;
}

.mb-title {
  &-theme {
    color: $grey-title;
  }

  &-more {
    line-height: 20px;
  }
}

.mb-list {
  margin: .13rem 0;

  &-item {
    margin-top: .13rem;
    padding: 0 .13rem .13rem .13rem;

    li {
      max-width: 3.13rem;
      background-color: #F8F8FE;
      margin-right: .01rem;
      margin-bottom: .01rem;
      padding: .11rem;
      display: inline-block;
      overflow: hidden;
      /*超出部分隐藏*/
      text-overflow: ellipsis;
      /* 超出部分显示省略号 */
      white-space: nowrap;
      /*规定段落中的文本不进行换行 */
    }
  }

  &-key {
    margin-top: .13rem;
    padding: .13rem;

    li {
      width: .29rem;
      height: .29rem;
      line-height: 20px;
      background-color: #F8F8FE;
      margin: .04rem .08rem;
      // padding: .08rem;
      display: inline-block;
      border-radius: .13rem;
      text-align: center;
    }
  }

  &-class {
    margin-bottom: 0.13rem;

    li {
      position: relative;
      padding: .11rem;
    }
  }
}

.security-tit {
  border-left: .01rem solid $c-primary;
  padding-left: .13rem;
  height: .16rem;
  line-height: 12px;
  margin-bottom: .2rem;
}

.info-lead {
  dl {
    // height: 1.2rem;
    line-height: 16px;
    padding: .13rem;
    overflow: hidden;

    &:last-child {
      margin-bottom: .16rem;
    }
  }

  dt {
    float: left;
    margin-right: .13rem;
    border: .01rem dashed #F2F2F5;

    img {
      width: 1.11rem;
    }
  }

  dd {
    position: relative;
    height: 1.11rem;

    p {
      margin-top: .07rem;
    }

    span {
      position: absolute;
      bottom: 0;
    }

    overflow: hidden;
  }
}

.index-blue {
  color: $blue-more;
}

.dn {
  display: none;
}

@mixin search {
  display: inline-block;
  margin-right: .09rem;
}

.mb-align {
  display: flex;
  align-items: center;
}

.mb-header {
  // width: 100%;
  // height: .25rem;
  // padding: .11rem .15rem;
  // height: 1.33rem;
  height: 1.33rem;
  padding: .32rem .4rem;
  position: sticky;
  z-index: 999;
  border-bottom: .01rem solid #F8F8F8;
  top: 0;

  .logo {
    width: 2.48rem;
    height: .69rem;
    display: inline-block;
  }

  .menu {
    width: .37rem;
    height: .37rem;
    display: inline-block;
  }

  .search {
    opacity: 0;
    @include search
  }
}

.mb-main {
  font-size: .32rem;
  padding: 0 .4rem;
  color: #323455;

  &-search {
    margin: .4rem 0;
    height: 1.27rem;
    padding: .01rem .16rem;

    .search {
      @include search
    }

    &-input {
      border: none;
      width: 8rem;
      height: 1.27rem;
    }
    &-button {
      margin-left: .13rem;
    }
  }

  &-swiper,
  .swipslider {
    height: 3.2rem;
    margin: .2rem 0;
    overflow: hidden;
    .sw-slide {
      img {
        width: 4rem;
      }
    }
  }
}

.swiper-container {
  position: relative;
}

.swiper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-item {
  float: left;
  width: 100%;
  position: relative;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .img {
    display: block;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: contain;
  }

  .desc {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    padding: .27rem 0 .16rem;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7) 100%);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}

.swiper-indicator {
  position: absolute;
  left: 50%;
  bottom: .13rem;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  i {
    display: inline-block;
    width: .09rem;
    height: .09rem;
    border-radius: 50%;
    overflow: hidden;
    // border: 6px solid transparent;
    border-bottom-color: #fff;
    background-color: #fff;
    margin: 0 .03rem;

    &.active {
      border-bottom-color: #317EE7;
      background-color: #317EE7;
    }
  }
}
