// .hm {
//   color: red;
//   box-sizing: border-box;
// }
// .items {
//   transform: rotate(7deg);
// }

@mixin search {
  display: inline-block;
  margin-right: .07rem
}

.index-main {
  &-about {
    // margin: 0.13rem 0;
    &-content {
      margin-top: 0.06rem ;
      padding: .1rem;
      line-height: .15rem;
    }
  }
}
.index-margin-top {
  margin-top: 0.08rem ;
}
.index-class {
  margin-top: 0.15rem;
}
.index-footer {
  margin-top: 0.15rem;
  p {
    text-align: center;
    line-height: .22rem;
    color: #B4B6D4;
  }
}
// .index-logo {
//   background: url('../images/logo_2x.png') no-repeat center top;
//   width: .93rem;
//   height: .28rem;
// }
